*{
    background-color: rgb(255, 255, 255);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.greet{
    width: 100%;
    height: 40vh;
    display: flex;
    margin: 20px 0 0 20px;
}
.photo1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 0 10px 50px;
}
.textg h1{
    margin: 30px 0 0 50px;
    font-size: 50px;    
}
.textg p{
    margin: 20px 0 0 50px;
    font-size: 12px;    
}
.education {
    align-items: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.education-details h3{
    font-size: 16px;
    margin: 0 0 5px 0;
}
section.education{
    font-size: 12px;
    margin: 0;
    align-items: center;
}
